


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <h1>crear </h1>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
         <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Back', lists_path %>
          </ul>  
    </div>
    <div class="col-sm-8 text-left"> 
      <h2>tasks</h2>
     <%= form_for @longTask, url: {:action => :create} do |f| %>
            <p>
              <%= f.label :description %><br>
              <%= f.text_field :description %>
            </p>
            <p>
              <%= f.label :state %><br>
              <%= f.select :state, ['Pediente','curso', 'Hecha'] %><br>
              
            </p>
            <p>
              <%= f.label :priority %><br>
              <%= f.select :priority, ['alta', 'media','baja'] %>
            </p>
            <p>
              <%= f.label :porcentaje_de_avance %><br>
              <%= f.select :percentage, (0..100) %>%
            </p>
            <%= f.submit %>
          </p>
     <% end %>
    
  </div>
</div>