<h1>Create </h1>
<%= form_for @list, utl: {:action => :create} do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.text_area :state %>
  </p>
  <p>
    <%= f.label :priority %><br>
    <%= f.text_area :priority %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>